.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url("/images/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url("/images/bg-bottom-hero-mobile.png") no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url("/images/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url("/images/bg-bottom-hero-tablet.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1024px) {
  .hero .hero-img {
    background: url("/images/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url("/images/bg-bottom-hero-desktop.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
