.hero.hero-package-travel {
  position: relative;
  margin-bottom: 88px;
}

.hero.hero-package-travel .hero-img {
  background: url("/images/travel-packages/japan-bg-hero-mobile.png") no-repeat;
  background-size: cover;
  height: 460px;
}

.hero.hero-package-travel .hero-text {
  margin: 65px 24px;
  color: var(--text-secondary-color);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero.hero-package-travel h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  margin-bottom: 16px;
}

.hero.hero-package-travel .hero-text hr {
  border: 2px solid var(--primary-color);
  width: 180px;
}

.hero.hero-package-travel p {
  margin-top: 32px;
  font-size: 20px;
  line-height: 32px;
}

.payments.payments-package-travel .payments-content h3 {
  font-size: 40px;
  margin-bottom: 24px;
}

.payments.payments-package-travel .payments-content a {
  width: 100%;
  margin-top: 24px;
}

.tokyo-1 {
  background: url("../images/travel-packages/gallery1-mobile.png") no-repeat;
  background-size: cover;
}

.tokyo-2 {
  background: url("../images/travel-packages/gallery2-mobile.png") no-repeat;
  background-size: cover;
}

.tokyo-3 {
  background: url("../images/travel-packages/gallery3-mobile.png") no-repeat;
  background-size: cover;
}

.bottom-hero.bottom-hero-package-travel .hero-img {
  background: url("/images/travel-packages/japan-bg-bottom-hero-mobile.png")
    no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero.hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-hero-tablet.png")
      no-repeat;
    background-size: cover;
    height: 620px;
  }

  .hero.hero-package-travel .hero-text {
    margin: 210px 69px 108px 120px;
  }

  .hero.hero-package-travel p {
    font-size: 32px;
    line-height: 48px;
  }

  .payments.payments-package-travel .payments-content {
    align-items: center;
  }

  .payments.payments-package-travel .payments-content a {
    display: none;
  }

  .tokyo-1 {
    background: url("../images/travel-packages/gallery1-tablet.png") no-repeat;
    background-size: cover;
  }

  .tokyo-2 {
    background: url("../images/travel-packages/gallery2-tablet.png") no-repeat;
    background-size: cover;
  }

  .tokyo-3 {
    background: url("../images/travel-packages/gallery3-tablet.png") no-repeat;
    background-size: cover;
  }

  .bottom-hero.bottom-hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-bottom-hero-tablet.png")
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero.hero-package-travel {
    margin-bottom: 104px;
  }

  .hero.hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-hero-desktop.png")
      no-repeat;
    background-size: cover;
  }

  .hero.hero-package-travel .hero-text {
    margin: 158px 740px 158px 120px;
  }

  .bottom-hero.bottom-hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-bottom-hero-desktop.png")
      no-repeat;
    background-size: cover;
  }
}
