.hero.hero-package-travel {
  position: relative;
}

.hero.hero-package-travel .hero-img {
  background: url("/images/travel-packages/japan-bg-hero-mobile.png") no-repeat;
  background-size: cover;
  height: 460px;
}

.hero.hero-package-travel .hero-text {
  margin: 65px 24px;
  /* background-color: black; */
  color: var(--text-secondary-color);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero.hero-package-travel h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  margin-bottom: 20px;
}

hr {
  border: 2px solid var(--primary-color);
  width: 180px;
}

.hero.hero-package-travel p {
  margin-top: 32px;
  font-size: 20px;
  line-height: 32px;
}

/* .active-page {
  text-decoration: underline;
} */

@media screen and (min-width: 768px) {
  .hero.hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-hero-tablet.png")
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero.hero-package-travel .hero-img {
    background: url("/images/travel-packages/japan-bg-hero-desktop.png")
      no-repeat;
    background-size: cover;
  }
}
